@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reviews for Numb Thumbs!</h1>
    <p class="lead">Reviews on games, newest technology, and the studios that make them!</p>
    <p><a href="/Reviews/Index" class="btn btn-primary btn-lg">See Latest Reviews &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New User?</h2>
        <p>
            Sign-in to get the scoop on the latest and greatest information about your favorite
            games and media. 
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Been Here Before?</h2>
        <p>Login today and start reading!</p>
        <p><a class="btn btn-default" href="/Account/Login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/K-RZvVnXGlo" frameborder="0" allowfullscreen></iframe></p>
    </div>
</div>